header {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  user-select: none;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.content-container {
  padding: 0 1rem;
}

table {
  width: 100%;
  height: calc(100vh - 5rem);
  border-collapse: collapse;
  border: 1px solid;
}

th,
td {
  border: 1px solid black;
  width: calc(100% / 6);
  overflow: hidden;
  text-align: center;
}

.time-cell {
  border: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: left;
  padding: 0 0.5rem;
}
